h1 {
  font-size: 50px;
}

.players {
  font-size: 45px;
}

.diamonds, .hearts {
  color: red;
}

.clubs, .spades {
  color: black;
}

.score, .splitScore {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
